
.jumbotron {
    text-align: center;
    background-image: url("./Images/radu-mihai-276887.jpg");
    background-position: 50% 15% ;
    color: #eeee;
    margin-top: 50px;
    height: 450px;
}

.heading-two {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px
}

.card-img-top {

    height: 200px;
    width: 300px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    border-radius: 5%
}

.card {
  border: none;
}

.card-title, .card-text {
    text-align: center;
}

.feature {
    text-align: center;
}

body {
    position: relative;
}

#app-store-icon {
    width: 220px;
}

#play-store-icon  {
    height: 100px;
    width: 250px;
}

#footer {
    background-color: #007fff;
    padding-top: 100px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
}

.footer-head {
  color: white;
}

.social {
    height: 150px;
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}

.bottom {
    height: 50px;
    padding-bottom: 20px;
}

.fa {
    margin: 10px;
}

.bio-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    text-align: center;
}

.navbar-brand, .nav-link, .lead, .heading-two, .card-title, .card-text {
      font-family: 'Exo 2', sans-serif;
}

.display-3 {
  font-weight: bold;
  font-family: 'Nixie One', cursive;
}




